@import 'antd/dist/antd.css';
@import './variant';

.app {
  background: white !important;
  display: flex;

  &-page {
    padding-top: 64px;
    min-height: calc(100vh - 70px);
    background: white;
    max-width: 1024px;
    width: 80%;
    margin: auto;
    &.w-100 {
      max-width: none;
      width: auto;
    }

    .site-layout-content {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      background: white;
    }
  }

  @media screen and (max-width: 750px) {
    &-page {
      width: 95%;
    }
  }

  &-footer {
    text-align: center;
  }
}

.ant-btn.warning {
  color: $warning-color;
  border-color: $warning-color;
  background: #fff;

  &:hover {
    color: $warning-color-hover;
    border-color: $warning-color-hover;
  }
}

.ant-picker {
  width: 100%;
}
